<h2 class="section-title">My Solutions</h2>
<div class="solution-card-carousel">
    <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide>
            <div class="solution-card">
                <div class="solution-c-header">
                    <img class="img-fluid icon" src="./icons/ucounted-rounded-icon.png" alt="icon" />
                    <div>
                        <h4>UCount Rewards</h4>
                        <span>You are on tier 2</span>
                    </div>
                </div>
                <div class="solution-c-body">
                    <span>Reward points</span>
                    <h5>45 000</h5>
                </div>
                <hr class="line"/>
                <div class="solution-c-footer">
                    <a href="/" class="solution-c-btn hide-element">TRANSACT</a>
                </div>
            </div>
        </ng-template>  
        <ng-template carouselSlide>
            <div class="solution-card">
                <div class="solution-c-header">
                    <img class="img-fluid icon" src="./icons/bank-rounded-icon.png" alt="icon" />
                    <div>
                        <h4>Bank</h4>
                        <span>2 Products</span>
                    </div>
                </div>
                <div class="solution-c-body">
                    <span>Total available balance</span>
                    <h5>R 589 678.00</h5>
                </div>
                <hr class="line"/>
                <div class="solution-c-footer">
                    <a href="/" class="solution-c-btn">TRANSACT</a>
                </div>
            </div>
        </ng-template> 
        <ng-template carouselSlide>
            <div class="solution-card">
                <div class="solution-c-header">
                    <img class="img-fluid icon" src="./icons/add-plus-rounded.png" alt="icon" />
                    <div>
                        <h4>Add more solutions</h4>
                        <span>Explore Standard Bank solutions</span>
                    </div>
                </div>
                <div class="solution-c-body hide-element">
                    <span>Total available balance</span>
                    <h5>R 589 678.00</h5>
                </div>
                <hr class="line"/>
                <div class="solution-c-footer">
                    <a href="/" class="solution-c-btn hide-element">TRANSACT</a>
                </div>
            </div>
        </ng-template> 
    </owl-carousel-o>
</div>
