
 <!-- Footer Section -->

<!-- 
      <div class="container-fluid text-white py-3" style="background-color: #1A314D;">
         <div class="text-center" style="font-size: 0.7rem;">
           Standard Bank is a licensed financial services provider in terms of the Financial Advisory and Intermediary
           Services <br /> Act and a registered credit provider in terms of the National Credit Act, registration number
           NCRCP15
         </div>
       </div> -->
       <footer class="footer">
        <div class="container-fluid py-3">
          <div class="text-center-footer">
            Standard Bank is a licensed financial services provider in terms of the Financial Advisory and Intermediary
            Services Act and a registered credit provider in terms of the National Credit Act, registration number NCRCP15
          </div>
        </div>
      </footer>
