<div class="exchange-rate">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col px-0 pe-4">
                <div class="row align-items-center">
                    <div class="col">
                        <div class="currency-dropdown-one mb-30">
                            <span class="lable-text">Select a currency</span>
                            <div class="dropdown">
                                <button class="btn border dropdown-toggle border-0" type="button"
                                    id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                    <img class="img-fluid" src="./icons/flag-africa.png" alt="flag-icon">
                                    <span>
                                        Dropdown button
                                    </span>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                    <li><a class="dropdown-item" href="#">Action</a></li>
                                    <li><a class="dropdown-item" href="#">Another action</a></li>
                                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="currency-dropdown-two">
                            <span class="lable-text">Amount</span>
                            <div class="curreny-and-value">
                                <span>R</span>
                                <input type="number" placeholder="0.00" value="0.00" />
                            </div>
                        </div>
                    </div>
                    <div class="col-auto">
                        <button type="button" class="p-0 bg-transparent border-0"><img src="./icons/exchange-icon.png"
                                alt="exchange btn" /></button>
                    </div>
                    <div class="col">
                        <div class="currency-dropdown-one mb-30">
                            <span class="lable-text">Select a currency</span>
                            <div class="dropdown">
                                <button class="btn border dropdown-toggle border-0" type="button"
                                    id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                    <img class="img-fluid" src="./icons/flag-africa.png" alt="flag-icon">
                                    <span>
                                        Dropdown button
                                    </span>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                    <li><a class="dropdown-item" href="#">Action</a></li>
                                    <li><a class="dropdown-item" href="#">Another action</a></li>
                                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="currency-dropdown-two">
                            <span class="lable-text">Amount</span>
                            <div class="curreny-and-value">
                                <span>US$</span>
                                <input type="number" placeholder="0.00" value="0.00" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-auto">
                <div class="time-and-place">
                    <p class="time-text">23:59 UTC <br />
                        Sunday, 4 August 2024
                    </p>
                    <p class="place-text">
                        <span>19 South African Rand</span>
                        1 United States Dollar
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>