<!-- Just an image -->
<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
   
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
       
        <li class="nav-item">
          <a class="nav-link" href="#">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li>
    
      </ul>
    </div>
  </nav> -->



  <div class="top-header bg-white d-flex justify-content-between align-items-center px-3 py-1 border-bottom">
    <div class="d-flex align-items-center">
      <strong class="text-primary">BCB</strong> Platform
    </div>
    <div class="d-flex align-items-center">
      <img src="" alt="" height="16" class="me-1">
      <span>Country</span>
    </div>
  </div>
  
  <nav class="navbar navbar-expand-lg" style="background-color: #0033A0;">
    <div class="container-fluid px-3">
      <!-- Logo -->
      <a class="navbar-brand d-flex align-items-center text-white" href="#">
        <img src="sb-logo.png" alt="" height="35" >
        <span>Standard Bank</span>
      </a>
      
      <!-- Right Section -->
      <div class="d-flex align-items-center">
        <img src="" alt="" height="35" class="me-2">
        <a href="#" class="text-white text-decoration-none me-3">Sign in <i class="bi bi-person-circle"></i></a>
      </div>
    </div>
  </nav>


  <ul class="nav nav-pills px-3 py-2 d-flex justify-content-between" style="background-color: #1042b0;">
    <div class="d-flex">
      <li class="nav-item">
        <a class="nav-link text-white active" href="#">Home</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link text-white dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Our Solutions
        </a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Solution 1</a></li>
          <li><a class="dropdown-item" href="#">Solution 2</a></li>
        </ul>
      </li>
    </div>
    <li class="nav-item ms-auto">
      <a class="nav-link text-white" href="#">Contact Us</a>
    </li>
  </ul>



  <!-- <div class="home-section bg-primary text-white text-center py-5">
    <h2>Access all your business needs in one place</h2>
    <p>From small to large businesses, we've got the solutions you need to get your business ahead.</p>
    <button class="btn btn-light fw-bold">Get Started</button>
  </div> -->

  <!-- <div style="background: url('accessallBG.png') no-repeat center center;  background-size: cover ; 
         height: 500px; width: 100%; ">
    <div class="home-section text-white text-start py-5 px-5">

      <h2>Access all your <br/>
        business needs  <br/>
         in one place</h2>
         <hr/>
      <p>From small to large businesses, <br/>
        we've got the solutions you need <br/>
        to get your business ahead.</p>
      <button class="btn btn-light fw-bold">Get Started</button>
    </div>
  </div> -->

 
  
  
