<!-- Load the router content here -->
<!-- <div class="container mt-4"> -->
  <!-- <router-outlet></router-outlet> -->
<!-- </div> -->

  <div class="top-header bg-white d-flex justify-content-between align-items-center px-3 py-1 border-bottom">
    <div class="d-flex align-items-center">
      <strong class="text-primary">BCB</strong> Platform
    </div>
    <div class="d-flex align-items-center">
      <img src="" alt="" height="16" class="me-1">
      <span>Country</span>
    </div>
  </div>
  
  <nav class="navbar navbar-expand-lg" style="background-color: #0033A0;">
    <div class="container-fluid px-3">
      <!-- Logo -->
      <a class="navbar-brand d-flex align-items-center text-white" href="#">
        <img src="sb-logo.png" alt="" height="35" >
        <span>Standard Bank</span>
      </a>
      
      <!-- Right Section -->
      <div class="d-flex align-items-center">
        <img src="" alt="" height="35" class="me-2">
        <a href="#" class="text-white text-decoration-none me-3" routerLink="/signin" >Sign in <i class="bi bi-person-circle"></i></a>
      </div>
    </div>
  </nav>

  <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #1042b0;">
    <div class="container-fluid">
      <!-- Left-Aligned Nav Items -->
      <div class="d-flex">
        <a class="nav-link text-white"  mx-3 routerLink="/home" routerLinkActive="active-tab">Home</a>
        <a class="nav-link text-white dropdown-toggle" href="#" role="button" (mouseenter)="showDropdown()" (mouseleave)="hideDropdown()">
          Our Solutions
        </a>
        <a *ngIf="isSignInPage" class="nav-link text-white" routerLink="/service-request" routerLinkActive="active-tab">Service Request</a>
        <a *ngIf="isSignInPage" class="nav-link text-white" routerLink="/document" routerLinkActive="active-tab">Documents</a>
      </div>
  
      <!-- Right-Aligned Nav Item -->
      <a class="nav-link text-white ms-auto mx-3" routerLink="/contact" routerLinkActive="active-tab">Contact Us</a>
  
      <!-- Dropdown Menu -->
      <div class="dropdown-menu w-100 p-4" [ngClass]="{'show': isDropdownVisible}">
        <div class="container">
          <div class="row">
            <div class="col-md-3">
              <h6>Bank</h6>
              <a class="dropdown-item" href="#">Business bank accounts</a>
              <a class="dropdown-item" href="#">Trust accounts</a>
              <a class="dropdown-item" href="#">Credit cards</a>
            </div>
            <div class="col-md-3">
              <h6>Borrow</h6>
              <a class="dropdown-item" href="#">Business loans</a>
              <a class="dropdown-item" href="#">Asset finance</a>
            </div>
            <div class="col-md-3">
              <h6>Invest</h6>
              <a class="dropdown-item" href="#">Savings & investment accounts</a>
            </div>
            <div class="col-md-3">
              <h6>Business Solutions</h6>
              <a class="dropdown-item" href="#">Workplace solutions</a>
              <a class="dropdown-item" href="#">Fleet management</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
  
  
  

  

 
  
  
