<!-- Home Section Below Navbar -->


<div *ngIf="!isSignInPage && !isServiceRequestPage && !isDocumentPage">

  <section class="home-section">
    <div class="container-fluid">
      <div class="row">
        <!-- Text Section -->
        <div class="col-lg-6 col-md-12 col-left text-start">
          <div class="content text-white">
            <h1>Access all your business needs in one place</h1>
            <p>From small to large businesses, we've got the solutions you need to get your business ahead.</p>
            <button class="get-started">Get Started</button>
          </div>
        </div>
        <!-- Image Section -->
        <div class="col-lg-6 col-md-12 text-center">
          <img src="lapImg.png" alt="Business" class="img-fluid rounded w-100">
        </div>
      </div>
    </div>
  </section>



  <!-- Business Section Home -->

  <div class="business-carousel">
    <h2 class="section-title-one">Let us handle your business</h2>
    <owl-carousel-o [options]="customOptions">
      <ng-template carouselSlide>
        <div class="card text-center">
          <img class="" src="bulbImg.png" alt="Icon 1" class="img-fluid mx-auto img-fluid icon" />
          <h5 class="fw-bold">Monitor your financial health</h5>
          <p>Keep your business finances stable with our financial management tools.</p>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="card text-center ">
          <img src="bulbImg.png" alt="Icon 2" class="img-fluid mx-auto img-fluid icon" />
          <h5 class="fw-bold">Get tailored advice</h5>
          <p>Access resources suited to your business needs through our customised offerings.</p>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="card text-center ">
          <img src="bulbImg.png" alt="Icon 3" class="img-fluid mx-auto img-fluid icon" />
          <h5 class="fw-bold">Track your business</h5>
          <p>Control your finances with insights into your cash flow, money movement, and more.</p>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="card text-center ">
          <img src="bulbImg.png" alt="Icon 4" class="img-fluid mx-auto img-fluid icon" />
          <h5 class="fw-bold">Access everything in one place</h5>
          <p>Manage your accounts and access your banking services in one centralised place.</p>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="card text-center ">
          <img src="bulbImg.png" alt="Icon 5" class="img-fluid mx-auto img-fluid icon" />
          <h5 class="fw-bold">Optimize your business operations</h5>
          <p>Enhance efficiency with our advanced business management tools.</p>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="card text-center ">
          <img src="bulbImg.png" alt="Icon 6" class="img-fluid mx-auto img-fluid icon" />
          <h5 class="fw-bold">Expand your reach</h5>
          <p>Grow your business with our market expansion strategies.</p>
        </div>
      </ng-template>


    </owl-carousel-o>
  </div>


  <!-- Business Priority Section -->
  <div class="img-and-text-block custom-container">
    <div class="container-fluid">
      <div class="row align-items-center">
        <!-- Text Section -->
        <div class="col-lg-6 col-md-12">
          <div class="content">
            <h2 class="section-title-one">Your business is our top priority</h2>
            <p>The BCB Platform gives you access to our comprehensive banking, borrowing, and
              investment solutions.</p>
            <p>Get tailor-made banking solutions, use our financial health monitor and never
              worry about the status of your business’s finances. No two businesses are the same; that’s why we tailor
              your
              experience.</p>
          </div>
        </div>
        <!-- Image Section -->
        <div class="col-lg-6 col-md-12 text-center">
          <img src="Core_card_container.png" alt="Business Priority" class="img-fluid rounded w-100" />
        </div>
      </div>
    </div>
  </div>

  <div class="img-and-text-block custom-container">
    <div class="container-fluid">
      <div class="row align-items-center">
        <!-- Image Section -->
        <div class="col-lg-6 col-md-12 text-center">
          <img src="cardGirl.png" alt="Business Priority" class="img-fluid rounded w-100" />
        </div>
        <!-- Text Section -->
        <div class="col-lg-6 col-md-12">
          <div class="content">
            <h2 class="section-title-one">We're giving you your time back</h2>
            <p>From start-ups to businesses looking to scale up, our solutions ensure you don't
              waste time on mundane tasks. You have direct access to everything you need to ensure your business's
              success.
            </p>
            <p>You can easily track your income and expenses, get expert industry knowledge, and
              access all of your Standard Bank solutions in one place.</p>
          </div>
        </div>
      </div>
    </div>
  </div>




  <!-- Boost Business Section -->
  <div class="custom-container boost-bs-sec">
    <div class="content">
      <h2>Boost your business with reliable solutions</h2>
      <p>Explore our wide range of financial offerings and solutions tailored to meet your unique needs</p>
      <button type="button" class="btn-blue">VIEW SOLUTIONS</button>
    </div>
  </div>


  <div class="custom-container">
    <div class="my-5 knowledge-section">
      <h2 class="section-title-one">Gain valuable knowledge</h2>
      <p class="knowledge-desc">
        Where are you in your business journey? Our expert-driven insights have the advice and tools you need to
        succeed,
        no matter where you are.
      </p>

      <ul class="nav nav-tabs mb-4 knowledge-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Starting a new business</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Managing your business</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button" role="tab" aria-controls="contact" aria-selected="false">Growing your business</button>
        </li>
      </ul>

      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
          <div class="container-fluid px-0">
            <div class="row">
                <div class="col-lg-3">
                  <div class="card h-100">
                    <img src="boyStanding.png" class="card-img-top knowledge-img" alt="Article 1">
                    <div class="card-body d-flex flex-column">
                      <h5 class="card-title">12 things to know before starting your own business</h5>
                      <p class="card-text">If you're an entrepreneur planning to start your own business we’ve...</p>
                      <a href="#" class="btn btn-link mt-auto">READ MORE</a>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3">
                  <div class="card h-100">
                    <img src="boyStanding.png" class="card-img-top knowledge-img" alt="Article 1">
                    <div class="card-body d-flex flex-column">
                      <h5 class="card-title">12 things to know before starting your own business</h5>
                      <p class="card-text">If you're an entrepreneur planning to start your own business we’ve...</p>
                      <a href="#" class="btn btn-link mt-auto">READ MORE</a>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3">
                  <div class="card h-100">
                    <img src="handImage.png" class="card-img-top knowledge-img" alt="Article 2">
                    <div class="card-body d-flex flex-column">
                      <h5 class="card-title">3 ways small businesses can protect themselves</h5>
                      <p class="card-text">Starting a business requires a significant investment, and in...</p>
                      <a href="#" class="btn btn-link mt-auto">READ MORE</a>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3">
                  <div class="card h-100">
                    <img src="atmShowing.png" class="card-img-top knowledge-img" alt="Article 3">
                    <div class="card-body d-flex flex-column">
                      <h5 class="card-title">Get familiar with chargebacks and fraud claims</h5>
                      <p class="card-text">When consumers become victims of fraud, they can turn to the charge...</p>
                      <a href="#" class="btn btn-link mt-auto">READ MORE</a>
                    </div>
                  </div>
                </div>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
          <div class="container-fluid px-0">
            <div class="row">
                <div class="col-lg-3">
                  <div class="card h-100">
                    <img src="boyStanding.png" class="card-img-top knowledge-img" alt="Article 1">
                    <div class="card-body d-flex flex-column">
                      <h5 class="card-title">12 things to know before starting your own business</h5>
                      <p class="card-text">If you're an entrepreneur planning to start your own business we’ve...</p>
                      <a href="#" class="btn btn-link mt-auto">READ MORE</a>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3">
                  <div class="card h-100">
                    <img src="boyStanding.png" class="card-img-top knowledge-img" alt="Article 1">
                    <div class="card-body d-flex flex-column">
                      <h5 class="card-title">12 things to know before starting your own business</h5>
                      <p class="card-text">If you're an entrepreneur planning to start your own business we’ve...</p>
                      <a href="#" class="btn btn-link mt-auto">READ MORE</a>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3">
                  <div class="card h-100">
                    <img src="handImage.png" class="card-img-top knowledge-img" alt="Article 2">
                    <div class="card-body d-flex flex-column">
                      <h5 class="card-title">3 ways small businesses can protect themselves</h5>
                      <p class="card-text">Starting a business requires a significant investment, and in...</p>
                      <a href="#" class="btn btn-link mt-auto">READ MORE</a>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3">
                  <div class="card h-100">
                    <img src="atmShowing.png" class="card-img-top knowledge-img" alt="Article 3">
                    <div class="card-body d-flex flex-column">
                      <h5 class="card-title">Get familiar with chargebacks and fraud claims</h5>
                      <p class="card-text">When consumers become victims of fraud, they can turn to the charge...</p>
                      <a href="#" class="btn btn-link mt-auto">READ MORE</a>
                    </div>
                  </div>
                </div>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
          <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3">
                  <div class="card h-100">
                    <img src="boyStanding.png" class="card-img-top knowledge-img" alt="Article 1">
                    <div class="card-body d-flex flex-column">
                      <h5 class="card-title">12 things to know before starting your own business</h5>
                      <p class="card-text">If you're an entrepreneur planning to start your own business we’ve...</p>
                      <a href="#" class="btn btn-link mt-auto">READ MORE</a>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3">
                  <div class="card h-100">
                    <img src="boyStanding.png" class="card-img-top knowledge-img" alt="Article 1">
                    <div class="card-body d-flex flex-column">
                      <h5 class="card-title">12 things to know before starting your own business</h5>
                      <p class="card-text">If you're an entrepreneur planning to start your own business we’ve...</p>
                      <a href="#" class="btn btn-link mt-auto">READ MORE</a>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3">
                  <div class="card h-100">
                    <img src="handImage.png" class="card-img-top knowledge-img" alt="Article 2">
                    <div class="card-body d-flex flex-column">
                      <h5 class="card-title">3 ways small businesses can protect themselves</h5>
                      <p class="card-text">Starting a business requires a significant investment, and in...</p>
                      <a href="#" class="btn btn-link mt-auto">READ MORE</a>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3">
                  <div class="card h-100">
                    <img src="atmShowing.png" class="card-img-top knowledge-img" alt="Article 3">
                    <div class="card-body d-flex flex-column">
                      <h5 class="card-title">Get familiar with chargebacks and fraud claims</h5>
                      <p class="card-text">When consumers become victims of fraud, they can turn to the charge...</p>
                      <a href="#" class="btn btn-link mt-auto">READ MORE</a>
                    </div>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>



      <div class="text-start mt-4">
        <button class="btn btn-primary knowledge-btn">VIEW ALL</button>
      </div>
    </div>
  </div>



  <!-- Explore the BCB Platform Section -->
  <div class="explore-bcb">
    <div class="custom-container img-te">
      <div class="container-fluid">
        <div class="row align-items-center">
          <!-- Text Section -->
          <div class="col-lg-6 col-md-12">
            <div class="content">
              <h2 class="section-title-one">Explore the BCB <br /> Platform</h2>
              <p>Watch a sneak peek of the platform before you get started
              </p>
              <button type="button" class="btn-text">WATCH our demo <img class="img-fluid" src="./icons/arrow-right.png"
                  alt="arrow"></button>
            </div>
          </div>
          <!-- Image Section -->
          <div class="col-lg-6 col-md-12 text-center">
            <img src="exploreBCB.png" class="img-fluid" alt="BCB Platform Screenshot">
          </div>
        </div>
      </div>
    </div>
  </div>



  <!-- Download Our Online Banking for Business App Section -->
  <div class="container-fluid py-5 app-section"
    style="background: linear-gradient(to right, #0033cc, #000099); color: white;">
    <div class="container d-flex align-items-center">
      <div class="row w-100">
        <div class="col-md-6 text-center app-image">
          <img src="SBMobilePng.png" class="img-fluid" alt="Mobile App Screenshot" style="max-width: 250px;">
        </div>
        <div class="col-md-6 d-flex flex-column justify-content-center app-download">
          <img src="downloadGoogle.png" class="img-fluid" alt="Mobile App Screenshot" style="max-width: 250px;">
        </div>
      </div>
    </div>
  </div>



  <div class="custom-container">
    <div class="container-fluid my-5 contact-section" style="padding: 1rem 3rem;">
    <h2 class="section-title-one">Reach out to us</h2>
      <p>Contact us for additional support or find your nearest Standard Bank branch.</p>
      <div class="row">
        <div class="col-md-3 col-sm-6 col-12">
          <div class="card h-100 p-3 text-center d-flex flex-column justify-content-between contact-card">
            <h6>Help & support</h6>
            <p>We’re here to help with your questions or queries</p>
            <button class="btn btn-primary">GIVE US A CALL</button>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-12">
          <div class="card h-100 p-3 text-center d-flex flex-column justify-content-between contact-card">
            <h6>Find us near you</h6>
            <p>Locate a branch that’s nearest to you</p>
            <button class="btn btn-primary">FIND A BRANCH</button>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-12">
          <div class="card h-100 p-3 text-center d-flex flex-column justify-content-between contact-card">
            <h6>Connect with us</h6>
            <p>Connect with a banker for personalised assistance</p>
            <button class="btn btn-primary">SPEAK TO A BANKER</button>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-12">
          <div class="card h-100 p-3 text-center d-flex flex-column justify-content-between contact-card">
            <h6>Stay informed</h6>
            <p>Keep up to date with our latest solutions and more</p>
            <button class="btn btn-primary">SUBSCRIBE TO NEWSLETTER</button>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- Ready to Move to Standard Bank Section -->
  <div class="container-fluid switch-bank">
    <div class="row">
      <div class="col-lg-6 col-left">
        <div class="content">
          <h2>Ready to move to Standard Bank?</h2>
          <p>We’re serious about where your business is going. Discover why we’re the trusted choice when it comes to business banking.</p>
          <button type="button" class="btn-white">SWITCH</button>
        </div>
      </div>
      <div class="col-lg-6 p-0 col-right"></div>
    </div>
  </div>


  <!-- FAQ Section -->
  <div class="custom-container faq-section">
    <h2 class="section-title-one">FAQ's</h2>
    <div class="accordion" id="faqAccordion">
      <div class="accordion-item" style="background-color: #F4F5F7;">
        <h2 class="accordion-header">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#faq1"
            style="background-color: #F4F5F7;">
            What is the BCB Platform?
          </button>
        </h2>
        <div id="faq1" class="accordion-collapse collapse show" data-bs-parent="#faqAccordion">
          <div class="accordion-body" style="background-color: #F4F5F7;">
            The BCB Platform is a single home for all of your Standard Bank accounts and solutions. It connects you to
            a
            variety of products and services, as well as experts to take your business further.
          </div>
        </div>
      </div> <br />
      <div class="accordion-item" style="background-color: #F4F5F7;">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq2"
            style="background-color: #F4F5F7;">
            How do I register on the BCB Platform?
          </button>
        </h2>
        <div id="faq2" class="accordion-collapse collapse" data-bs-parent="#faqAccordion">
          <div class="accordion-body" style="background-color: #F4F5F7;">
            You can register on the BCB Platform by visiting our website and following the registration process.
          </div>
        </div>
      </div> <br />
      <div class="accordion-item" style="background-color: #F4F5F7;">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq3"
            style="background-color: #F4F5F7;">
            How can I explore new solutions?
          </button>
        </h2>
        <div id="faq3" class="accordion-collapse collapse" data-bs-parent="#faqAccordion">
          <div class="accordion-body" style="background-color: #F4F5F7;">
            You can explore new solutions by logging into your account and navigating to the solutions section.
          </div>
        </div>
      </div>
    </div>
    <div class=" mt-4">
      <button class="btn btn-primary px-4 py-2">VIEW ALL</button>
    </div>
  </div>

  <!-- Footer Section -->
  <div class="container-fluid text-white py-3" style="background-color: #1A314D;">
    <div class="text-center" style="font-size: 0.7rem;">
      Standard Bank is a licensed financial services provider in terms of the Financial Advisory and Intermediary
      Services <br /> Act and a registered credit provider in terms of the National Credit Act, registration number
      NCRCP15
    </div>
  </div>
</div>



