<div class="container-fluid g-0 ad-banner p-3 p-md-0">
    <div class="row align-items-center">
        <div class="col-auto col-md-auto mb-4 mb-md-0">
            <img class="img-fluid" src="./images/ad-image.png" alt="ad image" />
        </div>
        <div class="col-auto col-md-6">
            <h2>Power your business the right way</h2>
            <p>Protect your business from load shedding and get the solar solutions you need with a business solar loan
            </p>
        </div>
    </div>
    <div class="close-icon"><img class="img-fluid" src="./icons/cancel-icon-sm.png" alt="close-icon" /></div>
</div>