.ad-banner{
    background-color: #FFFFFF;
    border-radius: 8px; overflow: hidden;
    position: relative; margin-bottom: 32px;
}
.close-icon{
    display: inline-flex; align-items: center; justify-content: center; cursor: pointer;
    position: absolute;
    padding: 5.5px;
    z-index: 9;
    top: 16px;
    right: 16px;
    width: 24px;
    height: 24px;
    background-color: #FFFFFF;
}

.ad-banner h2{
    font-family: 'BSP-Medium';
    color: #1A314D;
    font-size: 24px;
    line-height: 31px;
    margin-bottom: 8px;
    max-width: 260px;
}
.ad-banner p{
    font-family: 'BSP-Regular';
    color: #1A314D;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 0;
    max-width: 494px;
}

.btn-blue{
    border-radius: 8px;
    padding: 10px 23px;
    background-color: #0062E1;
    color: #FFFFFF;
    font-family: "BSP-Bold"; font-size: 14px; line-height: normal; text-transform: uppercase;
    min-width: 153px; text-align: center;
}